{% extends "base.html" %}
{% block title %}User page{% endblock %}
{% block header %}
<h1>User page</h1>
<nav>
  <ul>
    <li><a href="/">Home</a>
    <li><a href="/signout">Sign out</a>
  </ul>
</nav>
<h2>Welcome {{ user.email|escape }}</h2>
{% endblock %}

{% block content %}
  <section>
  <h1>Server List</h1>
  <form action="" method="post">
  <table summary="Server list table">
  <thead>
    <tr>
      <th>
      <th>Server address
      <th>Status user/pass
      <th>Website
      <th>Comment
  <tbody>
  {% for entry in server_list %}
    <tr>
      <td><input type="checkbox" name="server" value="{{ entry.id }}" />
      <td>{{ entry.server|escape }}
      <td>{{ entry.username|escape }} / {{ entry.password|escape }}
      <td><a href="{{ entry.website|escape }}">{{ entry.website|escape }}</a>
      <td>{{ entry.comment|escape }}
  {% endfor %}
  </tbody>
  </table>
  </form>
  </section>
  
  {%include "add_server_form.html" %}
{% endblock %}
