{% extends "admin.html" %}
{% block title %}Admin DB manager{% endblock %}
{% block content %}
  <section>
  <h1>User table</h1>
  <form action="/admin/db/delete/user" method="post">
  <table>
  <thead>
    <tr>
      <th>
      <th>E-mail
  </thead>
  <tbody>
  {% for entry in users %}
    <tr>
      <td><input type="checkbox" name="selected" value="{{ entry.id }}" />
      <td>{{ entry.email|escape }}
  {% endfor %}
  </tbody>
  </table>
  {% if users %}<input type="submit" value="delete" />{% endif %}
  </form>
  </section>

  <section>
  <h1>Site table</h1>
  <form action="/admin/db/delete/site" method="post">
  <table>
  <thead>
    <tr>
      <th>server
      <th>status user/pass
      <th>website
      <th>comment
      <th>created
  </thead>
  <tbody>
  {% for entry in sites %}
    <tr>
      <td><input type="checkbox" name="selected" value="{{ entry.id }}" />
      <td>{{ entry.server|escape }}
      <td><a href="{{ entry.website|escape }}">{{ entry.website|escape }}</a>
      <td>{{ entry.comment|escape }}
      <td>{{ entry.created }}
  {% endfor %}
  </tbody>
  </table>
  {% if sites %}<input type="submit" value="delete" />{% endif %}
  </form>
  </section>
  
{% endblock %}
