{% extends "base.html" %}

{% block title %}Sign in form{% endblock %}
{% block content %}

<form action="/signin" method="post">
  <fieldset>
  <legend>Sign in</legend>
  <p>
    <label for="email">E-mail : </label>
    <input type="text" name="email" id="email" />
  <p>
    <label for="password">Password : </label>
    <input type="password" name="password" id="password" />
  <p>
    <input type="submit" value="login" />
    <a href="/remind">Remind Password</a>
    <a href="/signup">Create Account</a>
  </fieldset>
</form>

{% endblock %}
