{% extends "base.html" %}
{% block title %}User page{% endblock %}
{% block header %}
<h1>User page</h1>
<h2>Welcome {{ user.email|escape }}</h2>
<nav>
  <ul>
    <li><a href="/">Home</a>
    <li><a href="/logout">Logout</a>
  </ul>
</nav>
{% endblock %}
{% block content %}
  
  <section>
  <h1>My Server entries</h1>
  
  <form action="" method="post">
  <table summary="Server list table">
  <caption>Server list</caption>
  <thead>
    <tr>
      <th>
      <th>Server address
      <th>Status user/pass
      <th>Website
      <th>Comment
  <tbody>
  {% for entry in server_list %}
    <tr>
      <td><input type="checkbox" name="server" value="{{ entry.id }}" />
      <td>{{ entry.server|escape }}
      <td>{{ entry.username|escape }} / {{ entry.password|escape }}
      <td>{{ entry.website }}
      <td>{{ entry.comment }}
  {% endfor %}
  </tbody>
  </table>
  </form>
  
  </section>
  
  {%include "add_server_form.html" %}
{% endblock %}
